body{
	margin:0;
	padding:0;
	background-color:#EEE;
}

#canvas{
	border:1px solid #CCC;
	position:absolute;
	left:10px;
	top:10px;
}


#backup{
	border:1px solid #CCC;
	position:absolute;
	left:10px;
	top:320px;
}

#test{
	border:1px solid #CCC;
	position:absolute;
	left:10px;
	top:640px;
}